<div class="container text-center background detailsPage">
<div class="best-prac main-desc">
  <div class="row">
    <div class="col-md-2"><img src="{{content.assets}}" /></div>
    <div class="col-md-10">
      <h2>{{content.fields.title}}</h2>
      <p>{{content.fields.description}}</p>
    </div>
  </div>
</div>

<div class="sub-desc">
  <a class="showSingle" target="1"><img class="imag" src="../images/hand-thumbs-up-sign-flat-style-vector-illustration-65942165.png"></a>
  <a class="showSingle" target="2"><img class="imag" src="../images/wrench-512.png"></a>
  <a class="showSingle" target="3"><img class="imag" src="../images/Mask Group 1.png"></a>
  <a class="showSingle" target="4"><img class="imag" src="../images/256-256-95dc23eadefad17dc35f6d4da9e036c1.png"></a>
  <a class="showSingle" target="5"><img class="imag" src="../images/11579586933e6a7.png"></a>
  <a class="showSingle" target="6"><img class="imag" src="../images/download.png"></a>
</div>




<div id="div1" class="targetDiv div-one">
  <div class="best-prac">
  {{content.fields.bestpractice}}
  </div>
</div>



<div id="div2" class="targetDiv">
  <div class="best-prac">
    <div class="second-desc row">
        {{content.fields.tools}}
    </div>
  </div>

</div>


<div id="div3" class="targetDiv">
  <div class="best-prac">
    {{content.fields.ideas}}  </div>
</div>


<div id="div4" class="targetDiv">
  <div class="best-prac">
    {{content.fields.data}}  </div>
</div>

<div id="div5" class="targetDiv">
  <div class="best-prac">
      {{content.fields.reviews}}
  </div>
</div>

<div id="div6" class="targetDiv">
  <div class="best-prac">
      {{content.fields.team}}
  </div>

</div>

</div>
