<div class="bgnd-sec">
        <div class="container-fluid text-center">
            <section class="row content">

                <div class="col-sm-12 text-left">
                    <div class="section-one">
                        <h1>DEVOPS DASHBOARD</h1>
                      <img class="hero-gif" src="./images/DevOps-Portal-Caption.gif">
                        <div class="btn-sec">
                              <a class="btn btn-primary view-industry-btn" href="https://assets.ctfassets.net/qwppyk7r0xj8/5CJn1JEd9e2ewQCMK4KuSi/5da1bfdc6f420aaa02498f04b69e90e7/devOps_Material.pdf" target="_blank">View DevOps Materials</a>
                            <a class="btn btn-primary view-industry-btn" href="/industry">VIEW INDUSTRIES</a>
                        </div>
                    </div>
                </div>
                <div class="modal" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-body">
                            <video controls="controls" preload="auto" id="video1" name="media" style="width: 100%; height: auto; margin:0 auto;">
                                <source src="./images/DevOps Dashboard_lowRes_Mobile.webm" type="video/webm">
                                <source src="./images/DevOps Dashboard_lowRes_Mobile.mp4" type="video/mp4">
                                <source src="./images/DevOps Dashboard_lowRes_Mobile.ogg" type="video/ogg">
                                Your browser doesn't support HTML5 video tag.
                            </video>
                        </div>
                      </div>
                    </div>
                  </div>
            </section>
        </div>
    </div>
    <div class="bgnd-sec2" id="FourPillars">
        <h1 class="four-pillars">Four Pillars</h1>
        <hr/>
        <div class="row section-two">

             {{#each pillars}}
            <div class="col-sm-3 sec-blocks wow zoomIn">
                <div class="circular-img">
                    <img src="{{fields.icon.asset.fields.file.url}}" />
                </div>
                <div class="box">
                    <h3 class="heading-color">{{fields.name}}</h3>
                    <hr/>
                    <p class="text-color" style="text-align:left">{{{fields.description}}}</p>
                </div>
            </div>
                {{/each}}

        </div>

        <h1 class="four-pillars" id="DevelopementCycle">Development Cycle</h1>
        <hr/>
        <div class="section-three">
            <div class="row">
               {{#each devops}}
                <div class="col-sm-3 {{#iffourth @index}} mid-cycle{{/iffourth}}{{#iflast @index}}mid-cycle right{{/iflast}}">
                    <div class="img-box wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
                        <img src="{{fields.icon.asset.fields.file.url}}" {{#iflast @index}} height="90" {{/iflast}}/>
                        <h3 class="img-desc">{{fields.title}}</h3>
                    </div>

                </div>
                {{#ifThird @index}}
              </div>
              <div class="row row-two">
                {{/ifThird}}
                {{/each}}
              </div>
<!--
            </div>
            <div class="row row-two">

                <div class="col-sm-3 mid-cycle">
                    <div class="img-box wow zoomIn">
                        <img src="../../app/images/ICO_Monitor.png" />
                        <h3 class="monitor img-desc">MONITOR</h3>
                    </div>

                </div>
                <div class="col-sm-3">

                    <div class="img-box wow zoomIn">
                        <img src="../../app/images/ICO_deploy.png" />
                        <h3 class=" deploy img-desc">DEPLOY</h3>
                    </div>
                </div>
                <div class="col-sm-3">

                    <div class="img-box wow zoomIn">
                        <img src="../../app/images/ICO_release.png" />
                        <h3 class="img-desc">RELEASE</h3>
                    </div>
                </div>
                <div class="col-sm-3">

                    <div class="img-box wow zoomIn">
                        <img src="../../app/images/ICO_test.png" />
                        <h3 class="img-desc">TEST</h3>
                    </div>
                </div>
                <div class="col-sm-3 mid-cycle right">

                        <div class="img-box wow zoomIn">
                            <img class="img-operate" src="../../app/images/ICO_operate.png" />

                            <h3 class="img-desc">OPERATE</h3>
                        </div>
                    </div>

            </div> -->
        </div>
        <div id="carouselMessage" class="carousel slide" data-ride="carousel" data-interval="3000">
            <ol class="carousel-indicators">
              {{#each review}}
              <li data-target="#carouselMessage" data-slide-to="0" class="active"></li>

                {{/each}}
            </ol>
            <div class="mid-section">
                <div class="carousel-inner">
                  {{#each review}}
                    <div class="carousel-item active">
                        <div class="bg-img">
                        </div>
                        <div>
                            <img class="img-review" src="{{fields.asset.fields.file.url}}" />
                        </div>
                        <div class="text-area">
                            <p>{{fields.description}}</p>
                            <p>
                                <b>
                                    <i>{{fields.name}}</i>
                                </b> - Senior Manager</p>
                        </div>
                    </div>
                    {{/each}}

                </div>
            </div>
          </div>

        <h1 class="four-pillars" id="Toolsused">Tools Used</h1>
        <hr/>
        <div class="row tool-description">
            <div class="section-four">
                <div class="row">
                  {{#each tools}}
                    <div class="col-sm-4 wow zoomIn">
                        <div class="circular-img">
                            <img src="{{fields.icon.asset.fields.file.url}}" />
                        </div>
                        <div class="box">
                            <h3 class="heading-color">{{fields.name}}</h3>
                            <hr/>
                            <p class="text-color" style="text-align:left">{{{fields.description}}}</p>
                            <!-- Button trigger modal -->
                            <button type="button" class="details-button" data-toggle="modal" data-target="#{{sys.id}}">
                                View Details
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="{{sys.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="circular-img">
                                                <img src="{{fields.icon.asset.fields.file.url}}" />
                                            </div>

                                            <div class = "text-wrapper">
                                                <h3 class="heading-color">{{fields.name}}</h3>
                                                <p class="text-color">{{fields.description}}</p>
                                            </div>
                                            <div class = "icon-wrapper">
                                              {{#each fields.icon.toolsused}}
                                                <a href="{{fields.description}}" target="_blank"><img class="col-sm-2" src="{{fields.file.url}}"></a>
                                                {{/each}}
                                            </div>
                                        </div>
                                        <div class="modal-footer">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}

                </div>
            </div>
        </div>

        <h1 class="four-pillars">Get In Touch</h1>
        <hr/>
        <!-- <form name="contactUS" onsubmit="return false;" style="padding-bottom:20px">
        <div class="contact-us-div" id="contactus">
            <div>
                <textarea name="name">Name</textarea>
                <textarea name="email">Email</textarea>
            </div>
            <div>
                <textarea name="message" class="write-a-msg">Write a message</textarea>
            </div>
            <div style="padding-bottom:5px">
              <button id="sendEmail" class="btn btn-secondary">Send</button>
            </div>

        </div>
      </form> -->
      <div class="contact-us-div">
        <h3 class="heading-color">For Any Queries Please Contact:</h3>
        <p class="text-color">
           USI C&E Devops <a href="mailto:usicandedevops@deloitte.com">usicandedevops@deloitte.com</a>
        </p>

   </div>
      <!-- Button trigger modal -->
      <button type="button" class="btn survey-btn" data-toggle="modal" data-target="#exampleModal">
              Survey Link
              <i class="fa fa-window-maximize" aria-hidden="true"></i>
            </button>

            <!-- Modal -->
            <div class="modal survey-card" id="exampleModal" tabindex="-1" role="dialog" data-backdrop=false aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Survey Link</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <i class="fa fa-window-minimize" aria-hidden="true"></i>
                    </button>
                  </div>
                  <div class="modal-body">
                    Thank you for collaborating with us.
                    Please fill a small survey by clicking the button below and our team will get in touch with you.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn yes-btn"><a href="https://deloittesurvey.deloitte.com/Community/se/3FC11B26285A2119" target="_blank">Take me to survey</a></button>
                    <button type="button" class="btn no-btn" data-dismiss="modal">I am not interested</button>
                  </div>
                </div>
              </div>
            </div>

    </div>
