<div class="bgnd-sec">
        <div class="container-fluid text-center">
            <section class="row content">

                <div class="col-sm-12 text-left">
                    <div class="section-one">
                        <h1>DEVOPS DASHBOARD</h1>
                        <h4>Your step towards DevOps Adoption</h4>
                        <div class="btn-sec">
                            <button class="btn btn-primary watch-video-btn">WATCH VIDEO</button>
                            <a class="btn btn-primary view-industry-btn" href="/industry">VIEW INDUSTRIES</a>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
    <div class="bgnd-sec2" id="FourPillars">
        <h1 class="four-pillars">Four Pillars</h1>
        <hr/>
        <div class="row section-two">

             {{#each pillars}}
            <div class="col-sm-3 sec-blocks wow zoomIn">
                <div class="circular-img">
                    <img src="{{fields.icon.asset.fields.file.url}}" />
                </div>
                <div class="box">
                    <h3 class="heading-color">{{fields.name}}</h3>
                    <hr/>
                    <p class="text-color">- {{fields.description}} </p>
                </div>
            </div>
                {{/each}}

        </div>

        <h1 class="four-pillars" id="DevelopementCycle">Development Cycle</h1>
        <hr/>
        <div class="section-three">
            <div class="row">
               {{#each devops}}
                <div class="col-sm-3">
                    <div class="img-box wow zoomIn">
                        <img src="{{fields.icon.asset.fields.file.url}}" />
                        <h3 class="img-desc">{{fields.title}}</h3>
                    </div>

                </div>
                {{#ifThird @index}}
              </div>
              <div class="row row-two">
                {{/ifThird}}
                {{/each}}
              </div>
<!--
            </div>
            <div class="row row-two">

                <div class="col-sm-3 mid-cycle">
                    <div class="img-box wow zoomIn">
                        <img src="../../app/images/ICO_Monitor.png" />
                        <h3 class="monitor img-desc">MONITOR</h3>
                    </div>

                </div>
                <div class="col-sm-3">

                    <div class="img-box wow zoomIn">
                        <img src="../../app/images/ICO_deploy.png" />
                        <h3 class=" deploy img-desc">DEPLOY</h3>
                    </div>
                </div>
                <div class="col-sm-3">

                    <div class="img-box wow zoomIn">
                        <img src="../../app/images/ICO_release.png" />
                        <h3 class="img-desc">RELEASE</h3>
                    </div>
                </div>
                <div class="col-sm-3">

                    <div class="img-box wow zoomIn">
                        <img src="../../app/images/ICO_test.png" />
                        <h3 class="img-desc">TEST</h3>
                    </div>
                </div>
                <div class="col-sm-3 mid-cycle right">

                        <div class="img-box wow zoomIn">
                            <img class="img-operate" src="../../app/images/ICO_operate.png" />

                            <h3 class="img-desc">OPERATE</h3>
                        </div>
                    </div>

            </div> -->
        </div>
        <div id="carouselMessage" class="carousel slide" data-ride="carousel" data-interval="3000">
            <ol class="carousel-indicators">
              <li data-target="#carouselMessage" data-slide-to="0" class="active"></li>
              <li data-target="#carouselMessage" data-slide-to="1"></li>
              <li data-target="#carouselMessage" data-slide-to="2"></li>
            </ol>
            <div class="mid-section">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="bg-img">
                        </div>
                        <div>
                            <img class="img-review" src="./images/PHOTO_MANAGER.png" />
                        </div>
                        <div class="text-area">
                            <p>This tool has helped a lot in managing my projects at my fingerprints.</p>
                            <p>
                                <b>
                                    <i>Richard,Daniel</i>
                                </b> - Manager</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="bg-img">
                        </div>
                        <div>
                            <img class="img-review" src="./images/PHOTO_MANAGER.png" />
                        </div>
                        <div class="text-area">
                            <p>This tool has helped a lot in managing my projects at my fingerprints.</p>
                            <p>
                                <b>
                                    <i>Richard,Daniel</i>
                                </b> - Manager</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="bg-img">
                        </div>
                        <div>
                            <img class="img-review" src="./images/PHOTO_MANAGER.png" />
                        </div>
                        <div class="text-area">
                            <p>This tool has helped a lot in managing my projects at my fingerprints.</p>
                            <p>
                                <b>
                                    <i>Richard,Daniel</i>
                                </b> - Manager</p>
                        </div>
                    </div>
                </div>
            </div>
          </div>

        <h1 class="four-pillars" id="Toolsused">Tools Used</h1>
        <hr/>
        <div class="row">
            <div class="section-four">
                <div class="row">

                    <div class="col-sm-4 wow zoomIn">
                        <div class="circular-img">
                            <img src="./images/Artboard 1.png" />
                        </div>
                        <div class="box">
                            <h3 class="heading-color">Development & Version Control</h3>
                            <hr/>
                            <p class="text-color">Take silos of people, tools, informantion & automation, and create a continuous delivery</p>
                            <!-- Button trigger modal -->
                            <button type="button" class="details-button" data-toggle="modal" data-target="#devModal">
                                View Details
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="devModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="circular-img">
                                                <img src="./images/Artboard 1.png" />
                                            </div>
                                            <hr/>
                                            <div class = "text-wrapper">
                                                <h3 class="heading-color">Development & Version Control</h3>
                                                <p class="text-color">Take silos of people, tools, informantion & automation, and create a continuous delivery environment through a facilitated collaboration and communication.</p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 wow zoomIn" data-wow-delay = "0.5s">
                        <div class="circular-img">
                            <img src="./images/Artboard 2.png" />
                        </div>
                        <div class="box">
                            <h3 class="heading-color">Continuous Integration</h3>
                            <hr/>
                            <p class="text-color">Take silos of people, tools, informantion & automation, and create a continuous delivery</p>
                            <!-- Button trigger modal -->
                            <button type="button" class="details-button" data-toggle="modal" data-target="#integrationModal">
                                View Details
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="integrationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="circular-img">
                                                <img src="./images/Artboard 2.png" />
                                            </div>
                                            <hr/>
                                            <div class = "text-wrapper">
                                                <h3 class="heading-color">Continuous Integration</h3>
                                                <p class="text-color">Take silos of people, tools, informantion & automation, and create a continuous delivery environment through a facilitated collaboration and communication</p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 wow zoomIn" data-wow-delay = "1s">
                            <div class="circular-img">
                                <img src="./images/Artboard 3.png" />
                            </div>
                            <div class="box">
                                <h3 class="heading-color">Project Management</h3>
                                <hr/>
                                <p class="text-color">Take silos of people, tools, informantion & automation, and create a continuous delivery</p>
                                <!-- Button trigger modal -->
                            <button type="button" class="details-button" data-toggle="modal" data-target="#projectModal">
                                View Details
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="circular-img">
                                                <img src="./images/Artboard 3.png" />
                                            </div>
                                            <hr/>
                                            <div class = "text-wrapper">
                                                <h3 class="heading-color">Project Management</h3>
                                                <p class="text-color">Take silos of people, tools, informantion & automation, and create a continuous delivery environment through a facilitated collaboration and communication</p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="four-pillars">Get In Touch</h1>
        <hr/>
        <div class="contact-us-div" id="contactus">
            <div>
                <textarea>Name</textarea>
                <textarea>Email</textarea>
            </div>
            <div>
                <textarea class="write-a-msg">Write a message</textarea>
            </div>

        </div>
    </div>
